@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar style */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Warna latar belakang track scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; /* Warna handle scrollbar */
  border-radius: 6px; /* Sudut border handle scrollbar */
}

/* Handle saat dihover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Warna handle scrollbar saat dihover */
}
